# Generated artifacts
bom.json
java-reachables.slices.json
# Dependency scanner caches
/governance/owasp-data/
/governance/owasp-reports/

# Exclude cookiecutter templates and generated JSON slices
/templates/
backend/java-openapi.json
java-usages.slices.json
